

body {


    background: #002E3D;


    color: #000000;


    font-family: Tahoma, Geneva, sans-serif;


    font-size: 62.5%;


    background-image: url('../img/bg.gif');


    background-repeat: repeat;


    color: #002E3D;


}


.color-primary-0 {


    color: #008AB8


}


/* Main Primary color */


.color-primary-1 {


    color: #09BFFB


}


.color-primary-2 {


    color: #01C0FF


}


.color-primary-3 {


    color: #00698C


}


.color-primary-4 {


    color: #00526D


}


td {


    padding: 10px;


}


h1 {


    font-size: 1.6em;


    padding-bottom: 8px;


}


h2 {


    font-size: 1.4em;


    padding-bottom: 6px;


}


h3 {


    font-size: 1.2em;


    padding-bottom: 4px;


}


h4 {


    font-size: 1.1em;


    padding-bottom: 2px;


}


hr {


    border: 0px;


    height: 2px;


    background: #008AB8;


    margin-top: 20px;


    margin-bottom: 20px;


}


button {


    margin: 2px;


    padding-top: 5px;


    padding-bottom: 5px;


    background-color: #008AB8;


    border: 1px solid #ffffff;


    color: #ffffff;


}


button:hover {


    background-color: #09BFFB;


}


a {


    text-decoration: none;


    color: #008AB8;


}


a:hover {


    text-decoration: underline;


    color: #09BFFB


}


.right {


    float: right;


}


.indent {


    padding-left: 10px;


}


.header-inner {


    margin-top: 0px;


    border-top: 2px solid #ffffff;


    height: 90px;


    border-bottom: 8px solid #ffffff;


    background-color: #008AB8;


}


.header-nav {


    margin: 0 auto;


    position: relative;


    width: 80%;


    max-width: 1200px;


    min-width: 600px;


}


.header-logo {


    display: block;


    position: absolute;


    left: 0;


    top: -5px;


    width: 145px;


    border-style: none;


}


/* header-links */


.header-links {


    height: 30px;


    vertical-align: middle;


    float: right;


    font-size: 1.3em;


    margin: 0 auto;


}


.header-links li {


    float: right;


    line-height: 2em;


    margin: 0 0 0 0;


    height: 30px;


    vertical-align: middle;


    padding-right: 10px;


    font-size: .9em;


    font-weight: bold;


    letter-spacing: 1px;


    color: #ffffff;


}


.header-links li a {


    display: block;


    float: right;


    width: 100%;


    height: 100%;


    text-decoration: none;


    text-align: right;


    color: #ffffff;


}


/* end header-links */


.nav-header {


    float: left;


    height: 80px;


    font-size: 1.3em;


    vertical-align: top;


}


.nav-header ul {


    margin: 0 auto;


}


.nav-header ul li {


    float: left;


    margin: 0 0 0 0;


    height: 80px;


    border-right: 2px solid #ffffff;


}


.nav-header ul li a {


    display: block;


    float: left;


    width: 100%;


    height: 100%;


    font-size: .9em;


    line-height: 3em;


    font-weight: bold;


    text-decoration: none;


    text-align: right;


    letter-spacing: 2px;


    color: #ffffff;


}


.nav-header ul li span {


    display: block;


    float: left;


    width: 100%;


    height: 100%;


    font-size: 2em;


    line-height: 3em;


    text-align: left;


    letter-spacing: 2px;


    color: #002E3D;


}


.headerText {


    font-size: 2em;


    text-align: left;


    color: #002E3D;


    padding-right: 30px;


    line-height: 3;


}


.headerText em {


    font-size: .6em;


    padding-left: 10px;


}


.nav-header ul li a:hover {


    background-color: #09BFFB;


}


.nav-header ul li a strong {


    margin-top: 20px;


    display: block;


    padding: .7em 15px;


    text-align: right;


}


/* footer */


footer {


    border-top: solid 8px #ffffff;


    border-bottom: solid 2px #ffffff;


    height: 40px;


    background-color: #008AB8;


    clear: both;


    margin: 0 auto;


    padding: 0 0 0 0;


    font-size: 1.3em;


    color: #ffffff;


    width: 100%;


    vertical-align: middle;


}


footer p {


    line-height: 3em;


    float: left;


}


footer a {


    color: #ffffff;


}


#footer-inner {


    width: 80%;


    margin: 0 auto;


}


/* nav-footer */


.nav-footer {


    float: right;


    height: 30px;


    vertical-align: top;


}


.nav-footer ul {


    margin: 0 auto;


}


.nav-footer ul li {


    float: left;


    margin: 0 0 0 0;


    height: 30px;


}


.nav-footer ul li a {


    display: block;


    float: left;


    width: 100%;


    font-size: .9em;


    line-height: 3em;


    font-weight: bold;


    text-decoration: none;


    text-align: right;


    /*text-transform: uppercase;*/


    letter-spacing: 2px;


    color: #ffffff;


    border-right: 2px solid #ffffff;


}


.nav-footer ul li a:hover {


    background-color: #09BFFB;


}


.nav-footer ul li a strong {


    display: block;


    padding: .3em 15px;


    text-align: right;


}


.content {


    margin-top: 20px;


    padding-bottom: 50px;


}


.content-inner {


    width: 80%;


    max-width: 1200px;


    min-width: 600px;


    margin: 0 auto;


    padding: 0 0 0 0;


    font-size: 1.3em;


}


.content-outer {


    background-color: #FFFFFF;


    padding: 1em;


    margin: 0 0 1.8em 0;


}


.content-box {


    width: 100%;


    border-style: none;


    padding: 8px;


    background-color: #FFFFFF;


}


.main {


    float: right;


    width: 71%;


}


.welcome {


    display: block;


    background-color: #00526D;


    overflow: hidden;


    color: #ffffff;


    padding: 30px;


}


.welcome img {


    float: right;


    height: 80px;


    display: block;


}


.welcome ul li strong {


    font-size: 3em;


    float: left;


    text-transform: uppercase;


    font-weight: bold;


    color: #008AB8;


    padding-right: 15px;


    padding-bottom: 2px;


}


.welcome em {


    float: right;


}


.aside-right {


    float: left;


    width: 27%;


}


/* pod list */


.pod {


    margin: 0 0 0 0;


}


.pod li {


    /*width: 31%;*/


    font-size: 1.1em;


    margin: 0 0 1.5em 0;


}


.pod li div {


    position: relative;


    overflow: hidden;


    padding: 30px;


    background: #ffffff;


}


.pod blockquote {


    font-family: Georgia;


    font-size: 1.2em;


    font-style: italic;


    line-height 1.5em;


}


.pod img {


    width: 100%;


    margin-bottom: 20px;


    border: 1px solid #ffffff;


}


.pod p {


    margin: 0 0 1em 0;


}


.pod p.customer {


    margin: 0;


    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif;


    font-size: .8em;


    font-style: normal;


    text-align: right;


    color: #008AB8;


}


.pod p.testamonial a {


    font-weight: bold;


}


/* serving banner */


#mashupimg {


    width: 100%;


}


.mashup span {


    display: block;


    position: absolute;


    bottom: 13px;


    left: 13px;


    right: 13px;


    letter-spacing: 1px;


    font-size: 1.2em;


    font-weight: normal;


    line-height: 3em;


    color: #ffffff;


    background-color: rgba(0, 46, 61, .9);


    text-align: center;


}


/* general */


.group:after {


    content: ".";


    display: block;


    height: 0;


    clear: both;


    visibility: hidden;


}
